<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
</style>


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    sidebarColor: --white;
}

body{
    display: grid;
    font-family: "Source Sans 3", sans-serif;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    background-color: var(--sidebarColor);


}

ul {
    list-style-type: none;
}

.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color:rgb(203, 203, 225);

}

.header-upper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:50px;
    justify-content: space-between;
    
}

.header-lower {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:50px;
}

.left {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;

}

.header-upper .right {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap:20px;
    padding: 20px;
    align-items: center;
}


.header-lower .right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    padding: 20px;
    align-items: center;
}

input {
    border: none;
    background-color: lightgray;
    height: 25px;
    border-radius: 15px;
}


.right .profile-img {
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background: url(https://media.istockphoto.com/id/1317804578/photo/one-businesswoman-headshot-smiling-at-the-camera.jpg?s=612x612&w=0&k=20&c=EqR2Lffp4tkIYzpqYh8aYIPRr-gmZliRHRxcQC5yylY= ) no-repeat;
        background-size: cover;
}
.left .profile-img {
    margin: auto;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background: url(https://media.istockphoto.com/id/1317804578/photo/one-businesswoman-headshot-smiling-at-the-camera.jpg?s=612x612&w=0&k=20&c=EqR2Lffp4tkIYzpqYh8aYIPRr-gmZliRHRxcQC5yylY= ) no-repeat;
        background-size: cover;
}


.right .btn {
    border: none;
    background-color: rgb(82, 92, 136);
    height: 40px;

}
